table,tr,th,td{
    color: blue;
    border:auto;
    
}
td{
    text-align: center;
}
table{
    border-collapse: collapse;
}
ul{
    list-style: square;
}
#nav ul,
#nav li{
list-style: none;
    float: left;
    display: flex;
    margin: 5px;
    color: brown;
}
#nav{
    background-color: rgb(83, 196, 42);
    width: 100%;
    height: 10vh;
}
.second-table{
    background-color: hsl(120, 26%, 55%);
    margin: 5px;
    color: chartreuse;
}
ul{
    list-style: square;
}
ol{
    list-style: lower-roman;
}
#Navy ul,
#Navy li{
    list-style: none;
    float: left;
    margin: 5px;
    color: blue;
}
#Navy{
    background-color: #a9d30f;
    width: 100%;
    height: 10vh;
}
.kidney{
    color: blue;
    text-shadow: #a9d30f;
}

