#navbar{
    background-color: rgb(203, 162, 162);
    height:10vh;
    width: 100%;
}
#navbar,ul
#navbar,li{
    list-style: none;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}
#table,tr,th,td{
    border: 1px solid black;
   border-collapse: collapse;
   }
   #frowfc{
    background-color: black;
   }
   #subject{
    background-color: yellow;
   }