*{
    margin: 0;
    padding: 0;
}
#top{
   
    height: 10vh;
    width: 100%;
    background-color: yellow;

}

#left{
    
    float: left;
    height: 80vh;
    width: 50%;
    background-color: black;
}

#right{
    float:right;
    height: 80vh;
    width: 50%;
   background-color: blue;
}
#bottom{
   margin-top: 80vh;
    height: 10vh;
    width: 100%;
    background-color: red;
}
ul, li {
    list-style: none;
    float: left;
    color: bisque;
    
    margin: 10px;

}