*{
    margin: 0;
    padding: 0;
}
#top{
   
    height: 10vh;
    width: 100%;
    background-color: yellow;

}

#left{
    
    float: left;
    height: 80vh;
    width: 50%;
    background-color: black;
}

#right{
    float:right;
    height: 80vh;
    width: 50%;
   background-color: blue;
}
#bottom{
   margin-top: 80vh;
    height: 10vh;
    width: 100%;
    background-color: red;
}

ul, li {
    list-style: none;
    float: left;
    color: bisque;
    
    margin: 10px;
}

body{
    background-color: #c3ceb9;
    text-align:left;
    margin-left: 10vh;
}
input[type=submit]{
    background-color: #5add13;
}
#textarea{
    background-color: #82d290;
}
#select{
    background-color: #ae80e6;
}
.texte{
    background-color: #9c7070;
}
.registration{
    margin: auto;
    padding: 0%;
    font-weight: 200;
    text-align: center;

}