*{
    margin: 0;
    padding: 0;
}
#top{
    width: 100%;
    height: 20vh;
    background-color: #263aac;
}
#left{
    float: left;
    width: 50%;
    height: 60vh;
    background-color: #39c07c;
   }
   
#right{
    float: right;
     width: 50%;
    height: 60vh;
    background-color: #323b37;
}
#bottom{
    margin-top: 60vh;
    width: 100%;
    height: 20vh;
    background-color: #1ad840; 
}