#mynav{
margin: 0%;
padding: 0%;
align-items: center;
justify-content: space-between;
display: flex;
}
#homeheader{
    background-color: tomato;
    width: 100%;
    height: 20vh;
}
.logo{
   font-size:bold;
   font-weight: 20;
   color: blue;
   
}
ul,li{
    list-style: none;
    float: left;
    color: rgb(64, 17, 185);
    margin: 5vh 5vh 5vh 5vh;
}
#container{
    background-color: yellow;
    height: 80vh;
    width: 100%;
}
#homecontainer{
    height: 80vh;
    width: 100%;
}
.menu{
    display:flex;
}
.menu li{
    list-style: none;
    margin: 5px 10px;
}
.menu a{
    text-decoration:solid;
    color: aliceblue;
    font-weight: 700;
}
.menu a:hover{
   background-color: #9c828b;
   color: yellow;
   padding: 3px;
   border-radius:5px;
    
}