*{
    margin: 0;
    padding: 0;
}
#navbar{
    width: 100%;
    height: 10vh;
    background-color: #c4b0b0;
}
#navbar,ul
#navbar,li{
    float: left;
    list-style: none;
    margin-right: 15px;
    text-align: center;
}
table{
    width: 80%;
    height:auto;
     background-color: #e2cbcb;
}
table,tr,th,td{
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
}
#form{
    width: 100%;
    height: auto;
}