#navbar{
    width: 100%;
    height: 10vh;
    background-color: #ba3838;
    float:left;
}
#navbar,ul,li, a{
    text-decoration: none;
    list-style: none;
    display: flex;
   margin:0%;
    padding: 5px;
    
}
#main{
    width:100%;
    height: 90vh;
    background-color: #2d62d5;
    float:left;
    margin: auto;
    padding: 5px;
}
#main iframe{
    height:100vh;
    width: 100%;
}
table{
    width: 50%;
    height: auto;
    background-color: #a18c8c;
}
table,tr,th,td{
   text-align: center; 
   border: 1px solid black;
   border-collapse: collapse;
}
#shi{
    width:50%;
    height: auto;
}
