#div{
    height: auto;
    width: 100%;
}
#div iframe{
    height: 100vh;
    width: 100%;
}
#navbar,ul,li{
    list-style: none;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
}
#tables,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}