*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #b36767;
    height: 20vh;
    width: auto;
}
#navleft{
    float: left;
    width: 30%;

}
#navright{
    width: 70%;
    margin-top: 15px;
    float: left;
}
#navright ul li{
    list-style: none;
    float: left;
    margin: 5px 5px 5px 5px;
}
#navleft img{
    width: 20%;
    display:block;
    margin: 20px;
}